body, html {
    height: 100%;
}

body {
    /* The image used */
    background-image: url("/static/images/commute.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 100px;
    color: white;
    background-color: #253547;
    margin: 50px auto;
    padding: 20px;
    opacity: 0.9;
    position: relative;
    border-radius: 10px;
    font-family: 'Arial';
    width: 80%;
    height: auto;
}

.conainer h1 {
    text-align: center;
}

.container h2 {
    margin-bottom: 21px;
}

.base-form {
    padding: 10px 0;
}

#submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
}

a:link, a:visited {
    background-color: #f44336;
    border-radius: 8px
    color: white;
    padding: 14px 25px;
    size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding:12px;
    font-size: 20px;
    font-family: 'Open Sans';
}

.hello {
    margin-bottom: 21px;
}

.data-container {
    opacity: 1;
    text-align: center;
}

.data-container img {
    max-width: 60%;
}